.Navbar{
    display: flex;
    flex-direction: column;
    color:white;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    
}

.Text1{
    font-size: 10px;
}

.Text2{
    font-size: 13px;
    font-weight: 800;
}